$nav-background: rgb(16, 24, 28);
$almost-white: rgba(243, 251, 255, 1);
$transparent: rgba(0, 0, 0, 0);

nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: $nav-background;
  color: $almost-white;
  box-shadow: 0 2px 5px 0 rgba(8, 12 ,14 ,.3);
  overflow: hidden;
  &.horizontal {
    width: 100%;
    height: 56px;
    flex-direction: row;
    padding: 8px 16px;
  }
  &.vertical {
    width: 56px;
    height: 100vh;
    flex-direction: column;
    padding: 16px 8px;
  }
}
.mat-button {
  &:hover {
    background: rgba(128, 144, 152, 0.2);
  }
  &.vertical {
    min-width: initial;
    padding: initial;
    line-height: 32px;
  }
}
span.vertical {
  display: block;
}
a {
  transition: border 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-bottom-left-radius: 0;
  &.horizontal {
    border-bottom: 2px solid $transparent;
    border-bottom-right-radius: 0;
  }
  &.vertical {
    border-left: 2px solid $transparent;
    border-top-left-radius: 0;
  }
}
a.active {
  &.horizontal {
    border-bottom: 2px solid $almost-white;
  }
  &.vertical {
    border-left: 2px solid $almost-white;
  }
}

.nav-toggle {
  min-width: initial;
  padding: initial;
}
