<nav [ngClass]="cssHeight">
  <a mat-button [ngClass]="cssHeight">
    <mat-icon>storage</mat-icon><span [ngClass]="{'mat-title': cssHeight.horizontal, 'vertical': cssHeight.vertical}" class="mat-title">庫存</span>
  </a>
  <mat-divider [vertical]="cssHeight.horizontal"></mat-divider>
  <a mat-button [ngClass]="cssHeight">
    <mat-icon>perm_data_setting</mat-icon><span [ngClass]="{'mat-title': cssHeight.horizontal, 'vertical': cssHeight.vertical}" class="mat-title">會員</span>
  </a>
  <mat-divider [vertical]="cssHeight.horizontal"></mat-divider>
  <a mat-button [ngClass]="cssHeight">
    <mat-icon>receipt</mat-icon><span [ngClass]="{'mat-title': cssHeight.horizontal, 'vertical': cssHeight.vertical}" class="mat-title">日誌</span>
  </a>
</nav>
